<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/events.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
	<title>NPSS || EVENTS</title>
</head>

<body>
	<header id="header">
		<a href="#" class="logo">
			<img class="logoimg" src="/default_images/logo.png" alt="no image">
			IEEE-NPSS VIT</a>
		<div id="toggle"></div>
		<div id="navbar">
			<ul>
				<li><a href="/#home">HOME</a></li>
				<li><a href="/#events">EVENTS</a></li>
				<li><a href="/#gallery">GALLERY</a></li>
				<li><a href="/board">BOARD</a></li>
				<li><a href="/#sponsors">SPONSORS</a></li>
			</ul>
		</div>
	</header>

	<script>
		const header = document.getElementById("header");
		const toggle = document.getElementById("toggle");
		const navbar = document.getElementById("navbar");

		document.onclick = function (e) {
			if (e.target.id !== 'header' && e.target.id !== 'toggle' && e.target.id !== 'navbar') {
				toggle.classList.remove('active');
				navbar.classList.remove('active');
			}
		}

		toggle.onclick = function () {
			toggle.classList.toggle("active");
			navbar.classList.toggle("active");
		}
	</script>

	<section id="events">
		<p class="bac">EVENTS</p>
		<div class="eventsbox">


			<% foundevent.forEach(function(user){ %>
			<div class="event">
				<img src="/<%= user.location %>" alt="no image">
				<button onclick="show('<%= user.id %>');">Read more</button>
				<div id="<%= user.id %>" class="span">
					<span onclick="hide('<%= user.id %>');">x</span>
					<h1><%= user.name %></h1>
					<p>
						<%= user.eventinfo %>
					</p>
				</div>
			</div>
			<% }) %>
		</div>

		<script>
			function show(elem) {
				var span = document.getElementById(elem);
				span.classList.add("tog");
			}

			function hide(elem) {
				var span = document.getElementById(elem);
				span.classList.remove("tog");
			}
		</script>
	</section>

	<div id="contact">
		<div class="bullitiens">
			<div class="boxes">
				<h2>Learn More</h2>
				<ul>
					<li><a href="#">Learn About NPSS?</a></li>
					<li><a href="#">What is NPSS?</a></li>
					<li><a href="#">History of NPSS</a></li>
				</ul>
			</div>
			<div class="boxes">
				<h2>Founders and Board</h2>
				<ul>
					<li><a href="/board">Faculty and Founders</a></li>
					<li><a href="/board/#present">Board</a></li>
				</ul>
			</div>
		</div>
		<div class="line"></div>
		<div class="contact">
			<span><img src="/default_images/logo.png" alt=""> IEEE-NPSS VIT</span>
			<span><a href="https://goo.gl/maps/RPCT9hSUxn9U4Bxu8"><i
				class="fa fa-map-marker-alt"></i>VIT,vellore-632014</a></span>
				<span><a href="tel:9542058885"><i class="fa fa-phone"></i>+91 95420 58885</a></span>
				<span><a href="mailto:ieeenpss@vit.ac.in"><i class="fa fa-envelope"></i>ieeenpss@vit.ac.in</a></span>
			</div>
			<div class="line"></div>
			<div class="socialmedia">
			<span>Be in Touch</span>
			<span><a href="https://www.facebook.com/ieeenpss.vit/"><i class="fab fa-facebook-f"></i></a></span>
			<span><a href="https://instagram.com/ieee_npss?igshid=19t2p1druy34f"><i class="fab fa-instagram"></i></a></span>
			<span><a href="https://www.linkedin.com/company/ieee-npss-vit-chapter/"><i class="fab fa-linkedin-in"></i></a></span>
		</div>
		<div class="line"></div>
		<div class="copyright">
			<p id="year">Copyright © 2020 by IEEE-NPSS VIT</p>
		</div>
	</div>

	<script>
		var d = new Date();
		var n = d.getFullYear();

		document.getElementById('year').innerHTML = "Copyright © " + n + " by IEEE-NPSS VIT";
	</script>
</body>

</html>